div  {
    border: 1px solid;
    height:50px;
    width: 50px;
    display: inline-block;
    }


     div:nth-of-type(odd) { 
      background-color: rgb(247, 255, 13);
      margin-bottom: 20px;
       }
  

     div:nth-of-type(even) {
      background-color: rgb(19, 59, 1);
      display: inline-block; 
     }                     