div  {
    border: 2px solid;
    height:30px;
    width: 60px;
    display: inline-block;
    background-color: red ;
    }
     
     div:nth-of-type(even) {
      display: none;
     }                     
  
     

p {
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 2px;
}  
